/* COLORS */

:root {
  --color-white: #ffffff;
  --color-gray: #c4c4c4;
  --color-black: #000000;
  --color-purple: #8000ff;
  --color-light-purple: rgb(207, 89, 230);
  --color-light-blue: #6BC5F8;
}

/* FONTS */

@font-face {
  font-family: "Circular Std Book";
  src: url("../public/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "D-DIN Condensed";
  src: url("../public/fonts/D-DINCondensed-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../public/fonts/MarkPro-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Font primary */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* border: solid 2px red; */
}

html {
  /* font-size: 62.5%; */
  font-size: 58%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  @media only screen and (max-width: 62.5em) {
    /* font-size: 56.25%; */
    font-size: 51.25%;
  }

  @media only screen and (max-width: 56.25em) {
    /* font-size: 54%; */
    font-size: 49%;
  }

  @media only screen and (max-width: 37.5em) {
    /* font-size: 51%; */
    font-size: 46%;
  }

  @media only screen and (min-width: 140.5em) {
    font-size: 75%;
  }
}

$font-primary: "Circular Std Book",
sans-serif;
$font-secondary: "Mark Pro",
sans-serif;
$font-tertiary: "D-DIN Condensed",
sans-serif;

body {
  font-family: $font-primary, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  // background: linear-gradient(115deg, #1a1e2b, #10101a, #1a1e2b, #10101a);
  background: #10101a;
  background-size: 400% 400%;
  // animation: gradient 3s ease-in-out infinite alternate;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}

.App {}

// cursor
.cursor {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 40%;
  right: 20%;
  pointer-events: none;
  transition: left top 0.1s ease-in-out;
  z-index: 1233333;
  // background-image: url("../public/svg/cursor.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: cursorAnim 10s infinite linear;

  @media only screen and (max-width: 52.5em) {
    opacity: 0;
  }
}

// preloader
.preloader {
  width: 100vw;
  height: 100vh;
  background-color: #10101a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 129993994;
  display: grid;
  place-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left {
    margin-right: 1rem;
  }

  &__right {
    margin-left: 1rem;
    width: max-content;
    height: 4rem;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom,
          #10101a 5%,
          rgba(#10101a, 0) 30%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to top,
          #10101a 5%,
          rgba(#10101a, 0) 30%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__text {
    font-family: $font-tertiary;
    font-weight: bold;
    font-size: 18px;
    line-height: 210%;
    letter-spacing: 0.19em;
    color: var(--color-white);
    animation: preloaderTextAnim 12s linear;
    animation-delay: 3s;
  }
}

@keyframes preloaderTextAnim {
  0% {
    transform: translateY(0%);
  }

  50%,
  100% {
    transform: translateY(-600%);
  }
}

@mixin centerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

// navbars
.navigation-wrapper {
  // position: fixed;
  // width: 100%;
  // height: 100%;

  position: relative;
  // width: 100vw;
  z-index: 9999;

  .menu-top {
    position: fixed;
    // position: absolute;
    top: 5rem;
    right: 0;
    left: 0;
    padding: 2rem 4rem;
    @include centerContent;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(42, 43, 56, 0.5);
    border: 0.2rem solid #2a2b37;
    backdrop-filter: blur(104px);
    border-radius: 2rem;

    @media only screen and (max-width: 40em) {
      width: 75%;
      padding: 2rem;
    }

    .brand-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        &:nth-child(2) {
          margin-left: 2rem;
        }
      }
    }

    .toggle-button-wrapper {
      @include centerContent;
      color: var(--color-gray);
      font-family: $font-tertiary;

      @media only screen and (max-width: 40em) {
        span {
          display: none;
        }
      }

      .toggle-button {
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.brand-logo {

  // &__icon {
  // }
  &__text-wrapper {
    overflow: hidden;
    margin-left: 1rem;
  }

  &__text {
    animation: logoLeftAnim 15s cubic-bezier(1, 0, 0, 1) infinite;
    text-align: center;

    @media only screen and (max-width: 40em) {
      // display: none;
    }
  }
}

@keyframes logoLeftAnim {
  0% {
    transform: translateX(0%);
  }

  20% {
    transform: translate(-110%, 0);
  }

  50%,
  100% {
    transform: translate(0%, 0);
  }
}


.menu-wrapper {
  position: fixed;
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: #050810;
  color: var(--color-white);
  overflow-y: scroll;
}

.navigation-top {
  margin-top: 25rem;
  @include centerContent;
  // padding: 0 40rem;
  width: 80%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;

  @media only screen and (max-width: 57em) {
    flex-direction: column;
    text-align: left;
    width: fit-content;
    margin-right: 0rem;
    margin-left: 6rem;
    align-items: flex-start;
  }

  &__left {
    text-align: inherit;

    @media only screen and (max-width: 57em) {
      margin-bottom: 10rem;
    }

    &--links {
      width: 30rem;
      @include centerContent;
      margin-top: 4rem;

      a {
        color: var(--color-light-blue);
        text-decoration: none;
        font-family: $font-tertiary;
        line-height: 92.4%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 100;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--color-white);
        }
      }
    }
  }

  &__right {
    text-align: inherit;

    a {
      font-size: 5rem;
      letter-spacing: -0.03em;
      margin-top: 2rem;
      display: inline-block;
      font-family: $font-secondary;
      text-decoration: none;
      color: var(--color-white);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--color-light-purple);
      }
    }
  }
}

.navigation-bottom {
  margin-top: 15rem;
  padding: 0 20rem;
  text-align: center;

  @media only screen and (max-width: 57em) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__projects {
    margin-top: 10rem;
    @include centerContent;

    &-card {
      width: 38.5rem;
      height: 28.8rem;
      text-decoration: none;
      position: relative;
      font-family: $font-secondary;
      font-size: 2.2rem;
      line-height: 130%;
      letter-spacing: -0.085em;
      transition: all 0.3s ease-in-out;

      &:not(:last-child) {
        margin-right: 4rem;
      }

      &:hover {
        width: 41.5rem;
        height: 31.8rem;

        img {
          opacity: 0.5;
        }
      }

      img {
        border-radius: 4.0rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }

      h2 {
        text-align: left;
        color: var(--color-white);
        position: absolute;
        top: -10%;
        left: 10%;
        font-family: $font-primary;
      }
    }

    @media screen and (max-width: 57em) {
      margin-top: 10rem;
      @include centerContent;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &-card {
        margin-bottom: 5rem;
        min-width: 30rem;
        min-height: 47rem;
        // position: relative;


        &:not(:last-child) {
          margin-right: 4rem;
        }

        &:hover {
          width: 40.5rem;
          height: 32.8rem;
        }

        img {
          border-radius: 4.0rem;
          height: 100%;
          width: 100%;
          object-fit: fill;
          transition: all 0.3s ease-in-out;
        }

        h2 {
          text-align: center;
          color: var(--color-white);
          position: absolute;
          top: -7%;
          left: 10%;
          font-family: $font-primary;
        }
      }
    }

  }
}


.navigation-h4 {
  font-family: $font-tertiary;
  font-size: 1.8rem;
  line-height: 92.4%;
  letter-spacing: 0.19em;
  font-weight: 100;
}


.heading {
  &-1 {
    display: flex;
    align-items: center;
    font-size: 5rem;
    letter-spacing: -0.03em;
    font-family: $font-secondary;

    @media only screen and (max-width: 56.25em) {
      font-size: 4.25rem;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 3.5rem;
    }

    span {
      margin-right: 1rem;
      background-image: linear-gradient(to right, #b0f3f1, #ffcfdf);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }

    &__sub {
      span {
        background-image: linear-gradient(to right,
            var(--color-white),
            var(--color-white));
      }
    }
  }

  &-2 {
    font-size: 4.2rem;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: var(--color-white);
    font-family: $font-secondary;

    @media only screen and (max-width: 57em) {
      line-height: 125%;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 3.5rem;
    }

    // @media only screen and (max-width: 37.5em) {
    //   font-size: 3.5rem;
    // }
  }
}

.ft-anim {
  background: linear-gradient(-45deg,
      #63898a,
      #9fbcbf,
      var(--color-white),
      var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  animation: gradient 3s ease-in-out;

  @media only screen and (max-width: 57em) {
    line-height: 125%;
  }
}

.tech-anim {
  background: linear-gradient(-45deg,
      #fbb034,
      #ffdd00,
      var(--color-white),
      var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  animation: gradient 3s ease-in-out;
}

.calc-anim {
  background: linear-gradient(-45deg,
      #045de9,
      #09c6f9,
      var(--color-white),
      var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 3s ease-in-out;
}

.bishal-anim {
  background: linear-gradient(-45deg,
      var(--color-light-blue),
      var(--color-light-purple),
      var(--color-white),
      var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  animation: gradient 3s ease-in-out;
}

.about-text {
  grid-column: 2/14;
  font-size: 1.7rem;
  line-height: 130.4%;
  color: var(--color-gray);
  display: block;
  padding: 0 6rem;

  @media only screen and (max-width: 56.25em) {
    grid-column: 1/15;
    padding: 0 4rem;

    br {
      display: none;
    }
  }
}

.paragraph {
  font-size: 1.7rem;
  line-height: 130.4%;
  color: var(--color-gray);

  &__sub {
    color: #8b8b8b;
  }
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 26rem;
    height: 26rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./assets/webp/hand-left.webp");

    @media only screen and (max-width: 45em) {
      width: 20rem;
      height: 20rem;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 7rem;
    right: 0rem;
    width: 25rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./assets/webp/hand-right.webp");
    z-index: -1;

    @media only screen and (max-width: 45em) {
      width: 20rem;
      height: 40rem;
    }
  }
}

.header {
  grid-column: 2/14;
  margin-top: 25rem;
  padding: 0 6rem;

  @media only screen and (max-width: 45em) {
    grid-column: 1/15;
    padding: 0 4rem;
  }

  &__hero {
    &--heading {
      font-family: $font-secondary;
      font-size: 9rem;
      line-height: 100%;
      letter-spacing: -0.03em;
      color: var(--color-white);
      position: relative;

      @media only screen and (max-width: 45em) {
        font-size: 7rem;

        br {
          display: none;
        }
      }

      @media only screen and (max-width: 28em) {
        font-size: 6rem;
      }

      &-gradient {
        background: linear-gradient(-45deg,
            var(--color-light-blue),
            var(--color-light-purple),
            var(--color-light-blue),
            var(--color-light-purple));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        animation: gradient 3s ease infinite;
      }
    }

    &--cta {
      margin-top: 13rem;
      display: inline-block;
      font-family: $font-tertiary;
      font-size: 1.8rem;
      line-height: 92.4%;
      letter-spacing: 0.19em;
      color: var(--color-gray);
      text-decoration: none;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 50%;
        height: 1px;
        background: var(--color-gray);
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__footer {
    grid-column: 1/15;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16rem;
    margin-bottom: 14rem;
    color: var(--color-gray);

    @media only screen and (max-width: 57em) {
      padding: 0 4rem;
    }

    &--right {
      width: 20rem;
      @include centerContent;
    }

    a {
      color: var(--color-gray);
      text-decoration: none;
      font-family: $font-tertiary;
      line-height: 92.4%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--color-white);
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.speaker {
  @include centerContent;
  width: 7rem;
  height: 4rem;
  border: 0.2rem solid var(--color-purple);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  position: relative;

  &__toggle {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 2;
  }

  // &__muted {
  // }
  &__unmuted {
    transform: rotate(180deg);

    .rect1-anim {
      animation: rect1Anim 1s ease-in-out infinite alternate;
    }

    .rect2-anim {
      animation: rect2Anim 1s ease-in-out infinite alternate;
    }

    .rect3-anim {
      animation: rect3Anim 1s ease-in-out infinite alternate;
    }

    .rect4-anim {
      animation: rect4Anim 1s ease-in-out infinite alternate;
    }
  }
}

.speaker__toggle--anim {
  left: 54%;
}

@keyframes rect1Anim {
  0% {
    height: 5.8px;
  }

  50% {
    height: 8px;
  }

  100% {
    height: 1px;
  }
}

@keyframes rect2Anim {
  0% {
    height: 5.8px;
  }

  50% {
    height: 6px;
  }

  100% {
    height: 4px;
  }
}

@keyframes rect3Anim {
  0% {
    height: 5.8px;
  }

  50% {
    height: 4px;
  }

  100% {
    height: 8px;
  }
}

@keyframes rect4Anim {
  0% {
    height: 5.8px;
  }

  50% {
    height: 1px;
  }

  100% {
    height: 3px;
  }
}


// section

.section-projects {
  grid-column: 2/14;
  margin-top: 20rem;
  padding: 0 6rem;

  @media only screen and (max-width: 57em) {
    grid-column: 1/15;
  }

  @media only screen and (max-width: 45em) {
    padding: 0 4rem;
  }

  p {
    margin-bottom: 15rem;
    margin-top: 2rem;
  }

  .project-card {
    width: 80%;
    margin: 20rem auto;
    background: linear-gradient(180deg,
        rgba(35, 37, 49, 0.5) 0%,
        rgba(15, 15, 24, 0.5) 100%);
    // background: rgba(15, 15, 24, 0.5) 100%;
    border: 0.2rem solid #20222e;
    box-sizing: border-box;
    backdrop-filter: blur(54px);
    border-radius: 7.3rem;
    display: flex;
    align-items: center;
    padding: 6rem;
    position: relative;

    @media only screen and (max-width: 57em) {
      width: 70%;
      border-radius: 6.3rem;
      flex-direction: column;
    }

    @media only screen and (max-width: 40em) {
      width: 75%;
    }

    @media only screen and (max-width: 35em) {
      width: 80%;
    }

    @media only screen and (max-width: 30em) {
      padding: 4rem;
      width: 84%;
      border-radius: 4.3rem;
    }

    @media only screen and (max-width: 23em) {
      width: 90%;
    }

    @media only screen and (max-width: 22em) {
      width: 100%;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -5rem;
      right: -5rem;
      width: 15rem;
      height: 15rem;
      background-repeat: no-repeat;
      background-size: contain;

      @media only screen and (max-width: 57em) {
        top: -3rem;
        right: -3rem;
        width: 12rem;
        height: 12rem;
      }
    }

    &:nth-of-type(1) {
      a {
        color: #6b9796;
      }

      &::before {
        background-image: url("./assets/svg/01.svg");
      }
    }

    &:nth-of-type(2) {
      a {
        color: #e6972f;
      }

      &::before {
        background-image: url("./assets/svg/02.svg");
      }
    }

    &:nth-of-type(3) {
      a {
        color: #57a3c7;
      }

      &::before {
        background-image: url("./assets/svg/03.svg");
      }
    }

    &:nth-of-type(4) {
      a {
        color: #c08af1;
      }

      &::before {
        background-image: url("./assets/svg/04.svg");
      }
    }

    &__left {
      margin-right: 6rem;

      @media only screen and (max-width: 57em) {
        order: 2;

        display: flex;
        align-self: flex-start;

        display: none;
      }

      h4 {
        transform: rotate(180deg);
        writing-mode: tb-rl;
        font-family: $font-tertiary;
        font-size: 1.3rem;
        line-height: 92.4%;
        letter-spacing: 0.19em;
        color: #8b8b8b;
        line-height: 120%;

        @media only screen and (max-width: 57em) {
          transform: rotate(360deg);
          writing-mode: lr-tb;
          margin-top: 3rem;
          margin-bottom: 2rem;
        }
      }
    }

    &__middle {
      width: 35rem;
      height: 45rem;
      background-size: cover;
      position: relative;
      border-radius: 5.3rem;
      overflow: hidden;

      @media only screen and (max-width: 57em) {
        order: 1;
        border-radius: 5rem;
        height: 40rem;
      }

      @media only screen and (max-width: 30em) {
        width: 30rem;
        border-radius: 3rem;
      }

      canvas {
        position: absolute;
        // border-radius: inherit !important;
        z-index: 0;
        width: 100% !important;
        height: 100% !important;
      }

      img {
        width: 100%;
        height: 100%;

        &:hover {
          &:nth-child(2) {
            opacity: 1;
          }
        }

        &:nth-child(1) {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
    }

    &__right {
      margin-left: 6rem;

      @media only screen and (max-width: 57em) {
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        order: 3;
        margin-top: 2rem;
      }

      h2 {
        margin-bottom: 6rem;

        @media only screen and (max-width: 57em) {
          margin-bottom: 3rem;
        }
      }
    }

    &__link {
      display: inline-block;
      font-family: $font-tertiary;
      font-size: 1.8rem;
      line-height: 92.4%;
      letter-spacing: 0.19em;
      text-decoration: none;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 50%;
        height: 1px;
        background: var(--color-gray);
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    &__socials {
      margin-top: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 5rem;

      @media only screen and (max-width: 57em) {
        width: 6.5rem;
        margin-top: 5rem;
      }
    }
  }
}

// section=reviews

.section-reviews__bg {
  background-color: #050810;
}

.section-reviews {
  grid-column: 1/15;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
  padding: 8rem 0;
  transition: all 0.3s ease-in-out;

  &__top {
    grid-column: 2/14;
    padding: 0 6rem;

    @media only screen and (max-width: 57em) {
      grid-column: 1/15;
    }

    @media only screen and (max-width: 45em) {
      padding: 0 4rem;
    }

    p {
      margin-top: 1.5rem;
    }
  }

  &__bottom {
    grid-column: 1/15;
    overflow-x: hidden;
    margin-top: 8rem;
    margin-bottom: 4rem;

    &-wrapper {
      @include centerContent;
      width: max-content;

      .review-card {
        background: #171e2f;
        border-radius: 2rem;
        padding: 3rem;
        margin: 1.5rem;

        &__top {
          @include centerContent;
          margin-bottom: 3rem;
          // &--left {
          // }
          // &--right {
          //   img {
          //   }
          // }
        }

        // &__bottom {
        // }

        &__p {
          font-size: 0.8rem;
          text-transform: uppercase;
          line-height: 81.4%;
          letter-spacing: 0.25em;
          color: #585e6e;
        }

        &__h3 {
          font-size: 1.9rem;
          line-height: 81.4%;
          letter-spacing: -0.01em;
          color: #585e6e;
          margin-top: 1.5rem;
          font-weight: 100;
        }

        &__h2 {
          font-size: 2rem;
          line-height: 130.4%;
          color: var(--color-white);
          font-weight: 100;
        }
      }
    }
  }
}

.review-card__anim1 {
  animation: reviewCardAnim1 25s ease-in-out infinite alternate;

  &:hover {
    animation-play-state: paused;
  }
}

.review-card__anim2 {
  animation: reviewCardAnim2 25s ease-in-out infinite alternate;

  &:hover {
    animation-play-state: paused;
  }
}

// section-contact
.section-contact {
  grid-column: 2/14;
  padding: 0 6rem;
  margin-top: 12rem;

  @media only screen and (max-width: 57em) {
    grid-column: 1/15;
  }

  @media only screen and (max-width: 45em) {
    padding: 0 4rem;
  }

  &__h2 {
    font-size: 4.5rem;
    line-height: 130.4%;
    letter-spacing: -0.06em;
    color: var(--color-gray);
    font-weight: 100;
    margin-top: 4rem;

    @media only screen and (max-width: 56.25em) {
      font-size: 4rem;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 3rem;
    }

    a {
      color: var(--color-white);
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--color-light-blue);
      }
    }
  }
}

// section-socials
.section-socials {
  grid-column: 2/14;
  padding: 0 6rem;
  margin-top: 12rem;

  @media only screen and (max-width: 57em) {
    grid-column: 1/15;
  }

  @media only screen and (max-width: 45em) {
    padding: 0 4rem;
  }

  p {
    margin-top: 2rem;
  }

  &--links {
    @include centerContent;
    margin-top: 4rem;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 40rem;
  }

  a {
    @include centerContent;
    color: var(--color-gray);
    text-decoration: none;
    font-family: $font-tertiary;
    line-height: 92.4%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--color-white);
    }
  }
}

.footer {
  @include centerContent;
  width: 100%;
  margin-top: 12rem;
  padding: 3rem 6rem;
  border-top: 1px solid rgba(#c4c4c4, 0.25);

  @media only screen and (max-width: 45em) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__socials {
    @include centerContent;
    width: 6rem;
  }
}

.speaker {
  @include centerContent;
  width: 7rem;
  height: 4rem;
  border: 0.2rem solid var(--color-purple);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  position: relative;

  &__toggle {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 2;
  }

  // &__muted {
  // }
  &__unmuted {
    transform: rotate(180deg);

    .rect1-anim {
      animation: rect1Anim 1s ease-in-out infinite alternate;
    }

    .rect2-anim {
      animation: rect2Anim 1s ease-in-out infinite alternate;
    }

    .rect3-anim {
      animation: rect3Anim 1s ease-in-out infinite alternate;
    }

    .rect4-anim {
      animation: rect4Anim 1s ease-in-out infinite alternate;
    }
  }
}

.speaker__toggle--anim {
  left: 54%;
}